
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BookDetails</title>
    <link rel="stylesheet" href="~/css/bookdetails.css">
    <link rel="stylesheet" href="~/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div> 
        <div>
            <div class="hovereffect">
                <img src="~/Books/image10.jpg" class="bookcover" />
                <div class="overlay">
                    <a class="info" href="#">Read Now</a>
                    <a class="info" href="#">Add to Library</a>
                </div>
            </div>
            </div>
        </div>
    <div class="center">
        <h1>Title:</h1>
        <h2>Writer:</h2>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <h2>Summary:</h2>
        <p>The above book is one of the best sellers...</p>
    </div>
</body>
</html>
