@model ReadingCat.Models.Tags
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>

        @using (Html.BeginForm())
        {
            for(int i=0; i<Model.listOfTags.Count; i++)
            {
                @Html.CheckBoxFor(model => model.listOfTags[i].isSelected)
                <label> @Model.listOfTags[i].tagName</label>
                @Html.HiddenFor(model => model.listOfTags[i].tagId)
                @Html.HiddenFor(model => model.listOfTags[i].tagName)
            }
           

            <input type="submit" value="Submit" />
        }
    </div>
</body>
</html>
